RVMS.Win/Service References/Services.Linije/Linije.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Linije" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49998/Services/Linije.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49998/Services/Linije.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49998/Services/Linije.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Linije_SacuvajLiniju_InputMessage">
    <wsdl:part name="parameters" element="tns:SacuvajLiniju" />
  </wsdl:message>
  <wsdl:message name="Linije_SacuvajLiniju_OutputMessage">
    <wsdl:part name="parameters" element="tns:SacuvajLinijuResponse" />
  </wsdl:message>
  <wsdl:message name="Linije_AzurirajStajalisteLinije_InputMessage">
    <wsdl:part name="parameters" element="tns:AzurirajStajalisteLinije" />
  </wsdl:message>
  <wsdl:message name="Linije_AzurirajStajalisteLinije_OutputMessage">
    <wsdl:part name="parameters" element="tns:AzurirajStajalisteLinijeResponse" />
  </wsdl:message>
  <wsdl:message name="Linije_DodajStajalisteNaLiniju_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajStajalisteNaLiniju" />
  </wsdl:message>
  <wsdl:message name="Linije_DodajStajalisteNaLiniju_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajStajalisteNaLinijuResponse" />
  </wsdl:message>
  <wsdl:message name="Linije_DodajStajalistaRelacijeNaLiniju_InputMessage">
    <wsdl:part name="parameters" element="tns:DodajStajalistaRelacijeNaLiniju" />
  </wsdl:message>
  <wsdl:message name="Linije_DodajStajalistaRelacijeNaLiniju_OutputMessage">
    <wsdl:part name="parameters" element="tns:DodajStajalistaRelacijeNaLinijuResponse" />
  </wsdl:message>
  <wsdl:message name="Linije_SkloniStajalisteSaLinije_InputMessage">
    <wsdl:part name="parameters" element="tns:SkloniStajalisteSaLinije" />
  </wsdl:message>
  <wsdl:message name="Linije_SkloniStajalisteSaLinije_OutputMessage">
    <wsdl:part name="parameters" element="tns:SkloniStajalisteSaLinijeResponse" />
  </wsdl:message>
  <wsdl:portType name="Linije">
    <wsdl:operation name="SacuvajLiniju">
      <wsdl:input wsaw:Action="http://tempuri.org/Linije/SacuvajLiniju" message="tns:Linije_SacuvajLiniju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Linije/SacuvajLinijuResponse" message="tns:Linije_SacuvajLiniju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AzurirajStajalisteLinije">
      <wsdl:input wsaw:Action="http://tempuri.org/Linije/AzurirajStajalisteLinije" message="tns:Linije_AzurirajStajalisteLinije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Linije/AzurirajStajalisteLinijeResponse" message="tns:Linije_AzurirajStajalisteLinije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DodajStajalisteNaLiniju">
      <wsdl:input wsaw:Action="http://tempuri.org/Linije/DodajStajalisteNaLiniju" message="tns:Linije_DodajStajalisteNaLiniju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Linije/DodajStajalisteNaLinijuResponse" message="tns:Linije_DodajStajalisteNaLiniju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DodajStajalistaRelacijeNaLiniju">
      <wsdl:input wsaw:Action="http://tempuri.org/Linije/DodajStajalistaRelacijeNaLiniju" message="tns:Linije_DodajStajalistaRelacijeNaLiniju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Linije/DodajStajalistaRelacijeNaLinijuResponse" message="tns:Linije_DodajStajalistaRelacijeNaLiniju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkloniStajalisteSaLinije">
      <wsdl:input wsaw:Action="http://tempuri.org/Linije/SkloniStajalisteSaLinije" message="tns:Linije_SkloniStajalisteSaLinije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Linije/SkloniStajalisteSaLinijeResponse" message="tns:Linije_SkloniStajalisteSaLinije_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Linije" type="tns:Linije">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SacuvajLiniju">
      <soap:operation soapAction="http://tempuri.org/Linije/SacuvajLiniju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AzurirajStajalisteLinije">
      <soap:operation soapAction="http://tempuri.org/Linije/AzurirajStajalisteLinije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DodajStajalisteNaLiniju">
      <soap:operation soapAction="http://tempuri.org/Linije/DodajStajalisteNaLiniju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DodajStajalistaRelacijeNaLiniju">
      <soap:operation soapAction="http://tempuri.org/Linije/DodajStajalistaRelacijeNaLiniju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkloniStajalisteSaLinije">
      <soap:operation soapAction="http://tempuri.org/Linije/SkloniStajalisteSaLinije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Linije">
    <wsdl:port name="BasicHttpBinding_Linije" binding="tns:BasicHttpBinding_Linije">
      <soap:address location="http://localhost:49998/Services/Linije.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>