RVMS.Win/Service References/Services.Linije/Linije.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49998/Services/Linije.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" />
  <xs:element name="SacuvajLiniju">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="linijaDto" nillable="true" type="q1:LinijaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacuvajLinijuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SacuvajLinijuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AzurirajStajalisteLinije">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="stajalisteLinijeDto" nillable="true" type="q2:StajalisteLinijeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AzurirajStajalisteLinijeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStajalisteNaLiniju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLinije" type="xs:int" />
        <xs:element minOccurs="0" name="idStajalista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStajalisteNaLinijuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="DodajStajalisteNaLinijuResult" nillable="true" type="q3:LinijaSaKandidatimaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStajalistaRelacijeNaLiniju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLinije" type="xs:int" />
        <xs:element minOccurs="0" name="idRelacije" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStajalistaRelacijeNaLinijuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="DodajStajalistaRelacijeNaLinijuResult" nillable="true" type="q4:LinijaSaKandidatimaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkloniStajalisteSaLinije">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idLinije" type="xs:int" />
        <xs:element minOccurs="0" name="idStajalistaLinije" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkloniStajalisteSaLinijeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="SkloniStajalisteSaLinijeResult" nillable="true" type="q5:LinijaSaKandidatimaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiRelacije">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiRelacijeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="VratiRelacijeResult" nillable="true" type="q6:ArrayOfRelacijaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>