RVMS.Win/Service References/RvmsServices/RvmsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOpstina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Opstina" nillable="true" type="tns:Opstina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOpstina" nillable="true" type="tns:ArrayOfOpstina" />
  <xs:complexType name="Opstina">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Entity">
        <xs:sequence>
          <xs:element minOccurs="0" name="NazivOpstine" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Opstina" nillable="true" type="tns:Opstina" />
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aktivan" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entity" nillable="true" type="tns:Entity" />
</xs:schema>