RVMS.Win/Service References/RvmsServices/RvmsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStajalisteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StajalisteDTO" nillable="true" type="tns:StajalisteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStajalisteDTO" nillable="true" type="tns:ArrayOfStajalisteDTO" />
  <xs:complexType name="StajalisteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdStajalistaLinije" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Latituda" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longituda" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Mesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MestoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Novo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Opstina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpstinaId" type="xs:int" />
      <xs:element minOccurs="0" name="Stanica" type="xs:boolean" />
      <xs:element minOccurs="0" name="Udaljenost" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StajalisteDTO" nillable="true" type="tns:StajalisteDTO" />
  <xs:complexType name="ArrayOfRelacijaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RelacijaDTO" nillable="true" type="tns:RelacijaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelacijaDTO" nillable="true" type="tns:ArrayOfRelacijaDTO" />
  <xs:complexType name="RelacijaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DuzinaRelacije" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Napomena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SrednjaSaobracajnaBrzina" type="xs:decimal" />
      <xs:element minOccurs="0" name="VremeVoznje" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelacijaDTO" nillable="true" type="tns:RelacijaDTO" />
  <xs:complexType name="RelacijaSaMedjustanicnimRastojanjimaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdRelacije" type="xs:int" />
      <xs:element minOccurs="0" name="Napomena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NazivRelacije" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stanice" nillable="true" type="tns:ArrayOfMedjustanicnoRastojanjeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelacijaSaMedjustanicnimRastojanjimaDTO" nillable="true" type="tns:RelacijaSaMedjustanicnimRastojanjimaDTO" />
  <xs:complexType name="ArrayOfMedjustanicnoRastojanjeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MedjustanicnoRastojanjeDTO" nillable="true" type="tns:MedjustanicnoRastojanjeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedjustanicnoRastojanjeDTO" nillable="true" type="tns:ArrayOfMedjustanicnoRastojanjeDTO" />
  <xs:complexType name="MedjustanicnoRastojanjeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DolaznoStajaliste" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DolaznoStajalisteId" type="xs:int" />
      <xs:element minOccurs="0" name="DuzinaRelacije" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LatitudaDolaznogStajalista" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LatitudaPolaznogStajalista" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LongitudaDolaznogStajalista" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LongitudaPolaznogStajalista" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolaznoStajaliste" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolaznoStajalisteId" type="xs:int" />
      <xs:element minOccurs="0" name="Rastojanje" type="xs:decimal" />
      <xs:element minOccurs="0" name="Rbr" type="xs:int" />
      <xs:element minOccurs="0" name="VremeVoznje" type="xs:int" />
      <xs:element minOccurs="0" name="VremeVoznjePoRelaciji" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MedjustanicnoRastojanjeDTO" nillable="true" type="tns:MedjustanicnoRastojanjeDTO" />
  <xs:complexType name="StajalisteSaRelacijamaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Opstina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Relacije" nillable="true" type="tns:ArrayOfRelacijaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StajalisteSaRelacijamaDTO" nillable="true" type="tns:StajalisteSaRelacijamaDTO" />
  <xs:complexType name="LinijaSaKandidatimaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Linija" nillable="true" type="tns:LinijaDTO" />
      <xs:element minOccurs="0" name="Relacije" nillable="true" type="tns:ArrayOfRelacijaDTO" />
      <xs:element minOccurs="0" name="Stajalista" nillable="true" type="tns:ArrayOfStajalisteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinijaSaKandidatimaDTO" nillable="true" type="tns:LinijaSaKandidatimaDTO" />
  <xs:complexType name="LinijaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrevoznikId" type="xs:int" />
      <xs:element minOccurs="0" name="Stajalista" nillable="true" type="tns:ArrayOfStajalisteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LinijaDTO" nillable="true" type="tns:LinijaDTO" />
</xs:schema>