RVMS.Win/Service References/RvmsServices/RvmsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RvmsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49998/RvmsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49998/RvmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49998/RvmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" />
      <xsd:import schemaLocation="http://localhost:49998/RvmsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRvmsService_VratiOpstine_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiOpstine" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiOpstine_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiOpstineResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiStajalisteOpstine_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiStajalisteOpstine" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiStajalisteOpstine_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiStajalisteOpstineResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiDaljinar_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiDaljinar" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiDaljinar_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiDaljinarResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiRelacijuSaRastojanjima_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiRelacijuSaRastojanjima" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiRelacijuSaRastojanjima_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiRelacijuSaRastojanjimaResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_SacuvajRelaciju_InputMessage">
    <wsdl:part name="parameters" element="tns:SacuvajRelaciju" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_SacuvajRelaciju_OutputMessage">
    <wsdl:part name="parameters" element="tns:SacuvajRelacijuResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_SacuvajRastojanje_InputMessage">
    <wsdl:part name="parameters" element="tns:SacuvajRastojanje" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_SacuvajRastojanje_OutputMessage">
    <wsdl:part name="parameters" element="tns:SacuvajRastojanjeResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_ObrisiRastojanje_InputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiRastojanje" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_ObrisiRastojanje_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiRastojanjeResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiMesta_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiMesta" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiMesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiMestaResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiStajalistaMestaIOpstine_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiStajalistaMestaIOpstine" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiStajalistaMestaIOpstine_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiStajalistaMestaIOpstineResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_SacuvajStajaliste_InputMessage">
    <wsdl:part name="parameters" element="tns:SacuvajStajaliste" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_SacuvajStajaliste_OutputMessage">
    <wsdl:part name="parameters" element="tns:SacuvajStajalisteResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiMedjustanicnoRastojanje_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiMedjustanicnoRastojanje" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_VratiMedjustanicnoRastojanje_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiMedjustanicnoRastojanjeResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_PomeriMedjustanicnoRastojanjeDole_InputMessage">
    <wsdl:part name="parameters" element="tns:PomeriMedjustanicnoRastojanjeDole" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_PomeriMedjustanicnoRastojanjeDole_OutputMessage">
    <wsdl:part name="parameters" element="tns:PomeriMedjustanicnoRastojanjeDoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_PomeriMedjustanicnoRastojanjeGore_InputMessage">
    <wsdl:part name="parameters" element="tns:PomeriMedjustanicnoRastojanjeGore" />
  </wsdl:message>
  <wsdl:message name="IRvmsService_PomeriMedjustanicnoRastojanjeGore_OutputMessage">
    <wsdl:part name="parameters" element="tns:PomeriMedjustanicnoRastojanjeGoreResponse" />
  </wsdl:message>
  <wsdl:portType name="IRvmsService">
    <wsdl:operation name="VratiOpstine">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/VratiOpstine" message="tns:IRvmsService_VratiOpstine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/VratiOpstineResponse" message="tns:IRvmsService_VratiOpstine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiStajalisteOpstine">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/VratiStajalisteOpstine" message="tns:IRvmsService_VratiStajalisteOpstine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/VratiStajalisteOpstineResponse" message="tns:IRvmsService_VratiStajalisteOpstine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiDaljinar">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/VratiDaljinar" message="tns:IRvmsService_VratiDaljinar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/VratiDaljinarResponse" message="tns:IRvmsService_VratiDaljinar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiRelacijuSaRastojanjima">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/VratiRelacijuSaRastojanjima" message="tns:IRvmsService_VratiRelacijuSaRastojanjima_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/VratiRelacijuSaRastojanjimaResponse" message="tns:IRvmsService_VratiRelacijuSaRastojanjima_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SacuvajRelaciju">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/SacuvajRelaciju" message="tns:IRvmsService_SacuvajRelaciju_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/SacuvajRelacijuResponse" message="tns:IRvmsService_SacuvajRelaciju_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SacuvajRastojanje">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/SacuvajRastojanje" message="tns:IRvmsService_SacuvajRastojanje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/SacuvajRastojanjeResponse" message="tns:IRvmsService_SacuvajRastojanje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObrisiRastojanje">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/ObrisiRastojanje" message="tns:IRvmsService_ObrisiRastojanje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/ObrisiRastojanjeResponse" message="tns:IRvmsService_ObrisiRastojanje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiMesta">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/VratiMesta" message="tns:IRvmsService_VratiMesta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/VratiMestaResponse" message="tns:IRvmsService_VratiMesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiStajalistaMestaIOpstine">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/VratiStajalistaMestaIOpstine" message="tns:IRvmsService_VratiStajalistaMestaIOpstine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/VratiStajalistaMestaIOpstineResponse" message="tns:IRvmsService_VratiStajalistaMestaIOpstine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SacuvajStajaliste">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/SacuvajStajaliste" message="tns:IRvmsService_SacuvajStajaliste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/SacuvajStajalisteResponse" message="tns:IRvmsService_SacuvajStajaliste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiMedjustanicnoRastojanje">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/VratiMedjustanicnoRastojanje" message="tns:IRvmsService_VratiMedjustanicnoRastojanje_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/VratiMedjustanicnoRastojanjeResponse" message="tns:IRvmsService_VratiMedjustanicnoRastojanje_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PomeriMedjustanicnoRastojanjeDole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/PomeriMedjustanicnoRastojanjeDole" message="tns:IRvmsService_PomeriMedjustanicnoRastojanjeDole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/PomeriMedjustanicnoRastojanjeDoleResponse" message="tns:IRvmsService_PomeriMedjustanicnoRastojanjeDole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PomeriMedjustanicnoRastojanjeGore">
      <wsdl:input wsaw:Action="http://tempuri.org/IRvmsService/PomeriMedjustanicnoRastojanjeGore" message="tns:IRvmsService_PomeriMedjustanicnoRastojanjeGore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRvmsService/PomeriMedjustanicnoRastojanjeGoreResponse" message="tns:IRvmsService_PomeriMedjustanicnoRastojanjeGore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRvmsService" type="tns:IRvmsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VratiOpstine">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/VratiOpstine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiStajalisteOpstine">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/VratiStajalisteOpstine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiDaljinar">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/VratiDaljinar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiRelacijuSaRastojanjima">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/VratiRelacijuSaRastojanjima" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SacuvajRelaciju">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/SacuvajRelaciju" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SacuvajRastojanje">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/SacuvajRastojanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObrisiRastojanje">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/ObrisiRastojanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiMesta">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/VratiMesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiStajalistaMestaIOpstine">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/VratiStajalistaMestaIOpstine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SacuvajStajaliste">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/SacuvajStajaliste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiMedjustanicnoRastojanje">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/VratiMedjustanicnoRastojanje" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PomeriMedjustanicnoRastojanjeDole">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/PomeriMedjustanicnoRastojanjeDole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PomeriMedjustanicnoRastojanjeGore">
      <soap:operation soapAction="http://tempuri.org/IRvmsService/PomeriMedjustanicnoRastojanjeGore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RvmsService">
    <wsdl:port name="BasicHttpBinding_IRvmsService" binding="tns:BasicHttpBinding_IRvmsService">
      <soap:address location="http://localhost:49998/RvmsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>