RVMS.Win/Service References/RvmsServices/RvmsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49998/RvmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" />
  <xs:import schemaLocation="http://localhost:49998/RvmsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" />
  <xs:element name="VratiOpstine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiOpstineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" minOccurs="0" name="VratiOpstineResult" nillable="true" type="q1:ArrayOfOpstina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiStajalisteOpstine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOpstine" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiStajalisteOpstineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="VratiStajalisteOpstineResult" nillable="true" type="q2:ArrayOfStajalisteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiDaljinar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiDaljinarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="VratiDaljinarResult" nillable="true" type="q3:ArrayOfRelacijaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiRelacijuSaRastojanjima">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRelacije" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiRelacijuSaRastojanjimaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="VratiRelacijuSaRastojanjimaResult" nillable="true" type="q4:RelacijaSaMedjustanicnimRastojanjimaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacuvajRelaciju">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" minOccurs="0" name="relacija" nillable="true" type="q5:Relacija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacuvajRelacijuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SacuvajRelacijuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacuvajRastojanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" minOccurs="0" name="rastojanje" nillable="true" type="q6:MedjustanicnoRastojanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacuvajRastojanjeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="SacuvajRastojanjeResult" nillable="true" type="q7:ArrayOfMedjustanicnoRastojanjeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiRastojanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiRastojanjeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="ObrisiRastojanjeResult" nillable="true" type="q8:ArrayOfMedjustanicnoRastojanjeDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiMesta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOpstine" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiMestaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" minOccurs="0" name="VratiMestaResult" nillable="true" type="q9:ArrayOfMesto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiStajalistaMestaIOpstine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOpstine" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idMesta" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiStajalistaMestaIOpstineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="VratiStajalistaMestaIOpstineResult" nillable="true" type="q10:ArrayOfStajalisteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacuvajStajaliste">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" minOccurs="0" name="stajaliste" nillable="true" type="q11:Stajaliste" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SacuvajStajalisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SacuvajStajalisteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>