RVMS.Win/Service References/RvmsServices/RvmsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49998/RvmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" />
  <xs:import schemaLocation="http://localhost:49998/RvmsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" />
  <xs:element name="VratiOpstine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiOpstineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RVMS.Model.Entities" minOccurs="0" name="VratiOpstineResult" nillable="true" type="q1:ArrayOfOpstina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiStajalisteOpstine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOpstine" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiStajalisteOpstineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="VratiStajalisteOpstineResult" nillable="true" type="q2:ArrayOfStajalisteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiDaljinar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiDaljinarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="VratiDaljinarResult" nillable="true" type="q3:ArrayOfRelacijaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>