RVMS.Win/Service References/Services.Stajalista/Stajalista.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Stajalista" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49998/Services/Stajalista.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49998/Services/Stajalista.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49998/Services/Stajalista.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStajalista_VratiStajalista_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiStajalista" />
  </wsdl:message>
  <wsdl:message name="IStajalista_VratiStajalista_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiStajalistaResponse" />
  </wsdl:message>
  <wsdl:message name="IStajalista_VratiSusednaStajalista_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiSusednaStajalista" />
  </wsdl:message>
  <wsdl:message name="IStajalista_VratiSusednaStajalista_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiSusednaStajalistaResponse" />
  </wsdl:message>
  <wsdl:portType name="IStajalista">
    <wsdl:operation name="VratiStajalista">
      <wsdl:input wsaw:Action="http://tempuri.org/IStajalista/VratiStajalista" message="tns:IStajalista_VratiStajalista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStajalista/VratiStajalistaResponse" message="tns:IStajalista_VratiStajalista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiSusednaStajalista">
      <wsdl:input wsaw:Action="http://tempuri.org/IStajalista/VratiSusednaStajalista" message="tns:IStajalista_VratiSusednaStajalista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStajalista/VratiSusednaStajalistaResponse" message="tns:IStajalista_VratiSusednaStajalista_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStajalista" type="tns:IStajalista">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VratiStajalista">
      <soap:operation soapAction="http://tempuri.org/IStajalista/VratiStajalista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiSusednaStajalista">
      <soap:operation soapAction="http://tempuri.org/IStajalista/VratiSusednaStajalista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Stajalista">
    <wsdl:port name="BasicHttpBinding_IStajalista" binding="tns:BasicHttpBinding_IStajalista">
      <soap:address location="http://localhost:49998/Services/Stajalista.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>