RVMS.Win/Service References/Services.Stajalista/Stajalista.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49998/Services/Stajalista.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" />
  <xs:element name="VratiStajalista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOpstine" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="idMesta" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiStajalistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="VratiStajalistaResult" nillable="true" type="q1:ArrayOfStajalisteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSusednaStajalista">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idStajalista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSusednaStajalistaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" minOccurs="0" name="VratiSusednaStajalistaResult" nillable="true" type="q2:ArrayOfStajalisteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>