RVMS.Win/Service References/Services.Stajalista/Stajalista2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RVMS.Model.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStajalisteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StajalisteDTO" nillable="true" type="tns:StajalisteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStajalisteDTO" nillable="true" type="tns:ArrayOfStajalisteDTO" />
  <xs:complexType name="StajalisteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdStajalistaLinije" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Latituda" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longituda" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Mesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MestoId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Novo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Opstina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpstinaId" type="xs:int" />
      <xs:element minOccurs="0" name="Stanica" type="xs:boolean" />
      <xs:element minOccurs="0" name="Udaljenost" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StajalisteDTO" nillable="true" type="tns:StajalisteDTO" />
</xs:schema>